<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Sindex.css">
    <link rel="stylesheet" href="about.css">
    <title>Aranya.about</title>
</head>
<body>
    <section class="head">
        <nav>
            <a href="http://" target="_blank"><img src="images/logo.png" alt="Aranya"></a>
            <div class="nav-links">
                <ul class="block">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="about.html">About us</a></li>
                    <li><a href="http://">Blog</a></li>
                    <li><a href="http://">Team</a></li>
                    <li><a href="http://">Contact</a></li>
                </ul>
            </div>
        </nav>
       </section>

       <div class="about">
        <h1>About us</h1>
        <p>
            baiukjbflojf
            ancvsidc
            adcskisfm
            smdvnls
            dnvslk
            skdv
            ncdck,nshcfaocds
            iudsoidc
            gckolchc,kashcdikdcsc
            iusdblokm
            ncnalkncas
        </p>
        <p>
            baiukjbflojf
            ancvsidc
            adcskisfm
            smdvnls
            dnvslk
            skdv
            ncdck,nshcfaocds
            iudsoidc
            gckolchc,kashcdikdcsc
            iusdblokm
            ncnalkncas
        </p>
        <p>
            baiukjbflojf
            ancvsidc
            adcskisfm
            smdvnls
            dnvslk
            skdv
            ncdck,nshcfaocds
            iudsoidc
            gckolchc,kashcdikdcsc
            iusdblokm
            ncnalkncas
        </p>
        <p>
            baiukjbflojf
            ancvsidc
            adcskisfm
            smdvnls
            dnvslk
            skdv
            ncdck,nshcfaocds
            iudsoidc
            gckolchc,kashcdikdcsc
            iusdblokm
            ncnalkncas
        </p>
        <p>
            baiukjbflojf
            ancvsidc
            adcskisfm
            smdvnls
            dnvslk
            skdv
            ncdck,nshcfaocds
            iudsoidc
            gckolchc,kashcdikdcsc
            iusdblokm
            ncnalkncas
        </p>
        <p>
            baiukjbflojf
            ancvsidc
            adcskisfm
            smdvnls
            dnvslk
            skdv
            ncdck,nshcfaocds
            iudsoidc
            gckolchc,kashcdikdcsc
            iusdblokm
            ncnalkncas
        </p>
       </div>

       

</body>
</html>